docker.enabled = true

docker.runOptions = "--entrypoint='' -v $PWD/scripts:/scripts"

env.HOME = "/home/nextflow"

params {
    cpus        = 2
    outdir      = 'results'
    core_nb     = Runtime.getRuntime().availableProcessors()
    mapping     = "data/mapping/mapping.tsv"
    paper_table = "data/paper/paper_results.tsv"
}

/*
=============================================
  PROCESS CONTAINERS
=============================================
*/
process {

    executor = 'local'

    withName: DOWNLOAD_FASTQ {
        container = 'alantrbt/sratoolkit:latest'
        cpus = params.cpus
    }

    withName: TRIM {
        container = 'alantrbt/cutadapt:1.11'
        cpus = params.cpus
    }

    withName: INDEX {
        container = 'alantrbt/bowtie:latest'
        cpus = params.cpus
    }

    withName: ALIGN {
        container = 'alantrbt/bowtie:latest'
        cpus = params.cpus
    }

    withName: FEATURECOUNTS {
        container = 'alantrbt/subread:latest'
        cpus = params.cpus
    }

    /* ================================
       ANALYSES DESEQ2 (container DESEQ2)
       ================================ */
    withName: DESEQ2 {
        container = "alantrbt/deseq2:latest"
        containerOptions = "-v $PWD/scripts:/scripts"
    }

    withName: PLOT_DESEQ2 {
        container = "alantrbt/deseq2:latest"
        containerOptions = "-v $PWD/scripts:/scripts"
    }

    /* ================================
       DOWNSTREAM (container downstream)
       ================================ */
    withName: CREATE_GENE_PATHWAY_TABLE {
        container = "alantrbt/downstream:latest"
        containerOptions = "-v $PWD/scripts:/scripts"
    }

    withName: CREATE_PLOTS {
        container = "alantrbt/downstream:latest"
        containerOptions = "-v $PWD/scripts:/scripts"
    }

    withName: COMPARE_WITH_PAPER {
        container = "alantrbt/downstream:latest"
        containerOptions = "-v $PWD/scripts:/scripts"
    }
}

