docker.enabled = true
// docker.runOptions = '-u \$(id -u):\$(id -g)'
env.HOME = "/home/nextflow"
//docker.runOptions = "-u \$(id -u):\$(id -g) -v \${PWD}/.nf_home:/home/nextflow"
docker.runOptions = "--entrypoint=''"

params {
    cpus = 2 // Valeur par défaut, modifiable selon la VM
    outdir = 'results'
}

report {
    enabled = true
    file = "reports/report.html"
}

timeline {
    enabled = true
    file = "reports/timeline.html"
}

dag {
    enabled = true
    file = "reports/dag.dot"
}

trace {
    enabled = true
    file = "reports/trace.txt"
}

process {
    withName: 'DOWNLOAD_FASTQ' {
        container = 'alantrbt/sratoolkit:latest'
        cpus = params.cpus
    }

    withName: 'TRIM' {
        container = 'alantrbt/cutadapt:1.11'
        cpus = params.cpus
    }

    withName: 'INDEX' {
        container = 'alantrbt/bowtie:latest'
        cpus = params.cpus
    }

    withName: 'ALIGN' {
        container = 'alantrbt/bowtie:latest'
        cpus = params.cpus
    }

    withName: 'COUNT' {
        container = 'alantrbt/subread:latest'
        cpus = params.cpus
    }

    withName: 'DESEQ2' {
        container = 'alantrbt/deseq2:latest'
        cpus = params.cpus
        containerOptions = "-v $PWD/scripts:/scripts"
    }

    withName: 'ANNOTATE_GENES' {
        containerOptions = "-v $PWD/scripts:/scripts"
    }

    withName: 'PATHWAYS' {
        containerOptions = "-v $PWD/scripts:/scripts"
    }

    withName: 'PLOT_DESEQ2' {
        containerOptions = "-v $PWD/scripts:/scripts"
    }  
}
